*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

:root {
  --focus-visible-border-radius: 0;
  --font-family-search-form: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  --font-family-main-content: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  --font-family-button: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  --font-family-title: "Oswald", "Arial Narrow", sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  max-width:1140px;
  /*max-height: 530px;*/
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:16px;
}

.result__video-container {
  position: relative;
  display: flex;
  width: 710px;
  height: 386px;
  
  object-fit:cover;
}

.result__video-container video {
  
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: top;
}
/*--------------search-form--------------*/
.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
  color: inherit;       /*наследует из page*/
  font-family: var(--font-family-search-form);
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 225px;
  border: none;
  font-family: inherit;
  font-weight: 100;
}

.search-form__fieldset-title {
  min-width: 225px;
  font-family: inherit;
  font-weight: 100;
  font-size: 18px;
}
/**/
.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  /*padding: 0 1px;*/
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  width: fit-content;
  font-family: inherit;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  column-gap:5px;
  outline:1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline:1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__textfield {
  flex-grow: 1;
  border-radius: var(--focus-visible-border-radius);
  border-top: #fff solid 1px;
  border-right: none;
  border-bottom: #fff solid 1px;
  border-left: none;
  outline: none;
  color: inherit; /*наследует из  page*/
  font-family: inherit;
  font-weight: 100;
  font-size: 18px;
  background-color: #1b1919;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 17px;
  height: 17px;
  padding: 1px;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  font-family: inherit;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  cursor:pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.3s;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
}

/*--------------content__details--------------*/

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 21px;
  font-family: var(--font-family-main-content);
}

.title {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap:30px;
  height: 345px;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  font-family: inherit;
  width:400px;
  height:298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 3px;   /*сдвиг для отображения .content__card-link:focus-visible */
  font-family: inherit;
}

.title .content__accent {
  color: #545050;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 3px;  /*сдвиг для отображения .content__card-link:focus-visible */
}

.content__card-link {
  display: block;
  color: inherit; /* наследует из page */
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

  .content__card-link:active {
    background-color: #545050;
    /*
    если использовать current класс серым выделится
    только активная карточка при нажатии остальные
    щелкаются без окраски в серый
    */
  }

  .content__card-link_current {
    background-color: #545050;
  }

  .content__card-link:focus-visible {
    outline: 1px solid #fff;
  }

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--focus-visible-border-radius);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 3px;
  min-width: 0;
}

.content__video-card-title {
  padding-bottom: 3px;
  overflow: hidden;
  color: inherit;       /*наследует content__card-link*/
  font-family:  var(--font-family-title);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  padding-bottom: 3px;
  overflow: hidden;               /* Обязательно: прячем лишнее */
  color: inherit;                 /*наследует content__card-link*/
  font-family: inherit;
  font-weight: 100;
  font-size: 18px;
  line-height: 16px;
  -webkit-box-orient: vertical;   /* Обязательно: направление бокса */
  line-clamp: 4;
  -webkit-line-clamp: 4;          /* Количество строк, которые нужно оставить */
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  cursor:pointer;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  min-width:194px;
  height:103px;
  object-fit:cover;
  object-position: center;
}  

/*--------------button--------------*/

.button {
  border: 1px solid #fff;
  padding: 5px 6px;
  outline:none;
  color: #fff;
  font-family:  var(--font-family-button);
  font-weight: 700;
  font-size: 18px;
  background-color: #1b1919;
}

.button:hover {
  text-decoration: underline;
  cursor:pointer;
}

.button:active {
 background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.more-button {
margin:1px;
}